h1{
    color:black;
    background: white;
}

h2{
    text-align: center;
}

#profilepic{
    width:100px;
    height:100px;
    float:left;
    border-radius:100px;
    border:1px solid black;
    box-shadow:2px 3px 10px black;
    margin-top:-5px;